# Node
node_modules/
.env
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-volume/

# VSCode
.vscode/
backend/src/controllers/__pycache__/aiController.cpython-310.pyc
backend/src/utils/__pycache__/portfolio_agent.cpython-310.pyc
